.header {
	height: 50px;
	padding: 5px 0;

	.logo_header {
		margin-top: 13px;
		text-align: -webkit-right;
		float: right;
		img {
			width: 105px;
		}
	}

	.logo__header {

		img {
			width: 92px;
			margin: 0 auto;
		}
	}

	.btn-phone {
		display: none;
	}
}

.featured {
	background-image: linear-gradient(#2C3E51, #3396D8);
	text-align: center;
	padding: 40px 0 70px 0;
	position: relative;
	z-index: 2;
	.image-featured {
		background-repeat: no-repeat;
		background-position: center;
		height: 210px;
	}
	.featured_head {
		color: @branco;
		font-size: 32px;
		margin-bottom: 20px;
		font-weight: 500;
	}
	.featured_subhead {
		color: @cinza;
		background: @amarelo;
		display: table;
		padding: 5px 10px;
		font-weight: 100;
		margin: 0 auto 5px auto;
	}
	.btn-featured {
		display: none;
	}
}

.produtos {
	padding: 30px 0;
	background: @branco;
	position: relative;
	z-index: 2;
	.container {
		padding: 0;
	}
	.item {
		box-shadow: 10px 10px 10px rgba(112, 112, 112, 0.5);
		border-radius: 10px;
		border: 1px solid rgba(112, 112, 112, 0.3);
		padding: 5px 5px 20px 5px;
		text-align: center;
		margin: 0 15px 20px 15px;
		background: @branco;
		.bg-produto {
			height: 150px;
			background-size: contain;
			background-repeat: no-repeat;
			background-position: center;
			background-color: @azul;
			border-radius: 0 0 99px 99px;
		}
		.produto_head {
			color: @azul;
			font-weight: bold;
			font-size: 24px;
			text-align: center;
			padding: 10px 10px 5px 10px;
		}
		.produto_info {
			color: @azul;
			padding: 0 10px;
			display: inline-block;
			font-size: 14px;
			margin-bottom: 10px;
		}

		.btn-phone {
			position: relative;
			width: 90%;
			left: 5%;
			display: flex;
			align-items: center;
			justify-content: center;
		}

	}
}

.location {
	height: 330px;
}

@media only screen and (min-width: @screen-sm-min) {
	.header {
		.logo_header {
			float: left;
			text-align: -webkit-left;
		}
		.logo__header {
			text-align: -webkit-left;
		}
		.phone_header {
			text-align: -webkit-right;
			.btn-phone {
				display: block;
				font-size: 14px;
			}
		}
		.btn-phone {
			padding: 5px 30px;
		}
	}
	.featured {
		text-align: left;
		padding: 0;
		.btn-phone {
			display: none;
		}

		.image-featured {
			height: 400px;
			background-size: contain;
			margin-right: 20px;
		}
		.featured_head {
			margin-top: 80px;
			font-size: 38px;
			margin-bottom: 10px;
		}
		.featured_subhead {
			padding: 0 10px;
			font-size: 18px;
			margin: 0 0 5px 0;
		}
		.btn-featured {
			display: flex;
			margin-top: 20px;
			width: 30%;
			justify-content: center;
		}
	}
}

@media only screen and (min-width: @screen-md-min) {
	.header {
		height: 115px;
		.logo_header {
			margin-top: 36.5px;
			img {
				width: 250px;
			}
		}
		.logo__header {
			margin-top: 5.5px;
			img {
				width: 215px;
			}
		}
		.phone_header {
			margin-top: 31px;
			.btn-phone {
				font-size: 20px;
			}
		}
	}

	.featured {
		.featured_head {
			line-height: 56px;
			font-size: 52px;
		}
		.featured_subhead {

		}
		.btn-featured {
			font-size: 22px;
			padding: 10px 20px;
			img {
				width: 42px;
				height: 42px;
			}
		}
	}

	.location {
		height: 400px;
	}
}

@media only screen and (min-width: @screen-lg-min) {
	.home {
		.container {
			width: 90%;
		}
		.featured {
			.image-featured {
				height: 700px;
			}
			.featured_head {
				margin-top: 150px;
				font-size: 70px;
				line-height: 72px;
			}
			.featured_subhead {
				font-size: 28px;
			}
			.btn-featured {
				font-size: 28px;
			}
		}
	}
}

@media only screen and (min-width: @screen-xl-min) {
	.home {
		.featured {
			.featured_head {
				font-size: 78px;
				line-height: 82px;
				margin-bottom: 20px;
			}
			.featured_subhead {
				font-size: 32px;
			}
			.btn-featured {
				margin-top: 40px;
				font-size: 32px;
				img {
					margin-right: 40px;
				}
			}
		}

		.location {
			height: 500px;
		}
	}
}
