
@screen-xs-min: 576px;
@screen-sm-min: 768px;
@screen-md-min: 992px;
@screen-lg-min: 1200px;
@screen-xl-min: 1500px;


// fonts
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');

// diretorios
@bg:'../images/bg/';
@misc:'../images/misc/';
@svg:'../images/svg/';
.bg(@x,@y){background:url('@{bg}@{x}') @y;}
.misc(@x,@y){background:url('@{misc}@{x}') @y;}
.svg(@x,@y){background:url('@{svg}@{x}') @y;}

// colors
@primary: #191919;
@secundary: #b3b3b3;
@text: #666;
@branco: #fff;
@cinza: #404040;
@amarelo: #FEB913;
@azul: #2C3E51;
@azul-footer: #034694;

// globals
body {
	font-family: 'Open Sans', sans-serif;
	.owl-carousel {
		.owl-item {
			img {
				width: initial;
			}
		}

		.owl-nav {
			display: none;
		}

		.owl-dots {
		  display: table;
		  margin: 15px auto 0;

		  	.owl-dot {
			    display: inline-block;
			    vertical-align: middle;
			    width: 10px;
			    height: 10px;
			    margin: 0 5px;
			    border-radius: 4px;
			    background-color: #fff;
			    transition: width 0.5s ease, background 0.25s ease;
			    border: 1px solid #707070;
			    &.active {
			      width: 10px;
			      background-color: #FFCC00;
			    }
	  		}
		}
	}

	.title {
		margin-bottom: 15px;
		font-size: 38px;
		font-weight: 700;
		color: @azul;
		text-align: center;
	}

	.subtitle {
		margin-bottom: 50px;
		font-size: 25px;
		text-align: center;
		color: @text;
	}

	.btn-phone {
		background-image: linear-gradient(#7ED528, #4F950A);
		border-radius: 5px;
		padding: 5px 15px;
		img {
			display: inline;
			width: 32px;
			margin-right: 10px;
		}
		a {
			color: #fff;
			display: flex;
			align-items: center;
			text-transform: uppercase;
		}
		.chamada-desktop {
			display: none;
		}
		@media only screen and (min-width: 767px)  {
			.chamada-desktop {
				display: flex;
			}
			.chamada-mobile {
				display: none;
			}
		}
	}

	//página de obrigado
	.thanks {
		position: absolute;
		top: 50%;
		left: 0;
		width: 100%;
		.transform(translate3d(0, -50%, 0));

		.title {
			text-align: left;
			font-size: 100px;
			font-weight: 700;
		}

		.subtitle {
			display: block;
			font-size: 30px;
			margin-bottom: 5px;
		}

		.btn {
			display: table;
			width: 100px;
			margin-top: 30px;
		}
	}
}

@media only screen and (max-width: 767px) {
	body {

		.title {
			font-size: 25px;
		}

		.subtitle {
			margin-bottom: 20px;
			font-size: 18px;
		}

		.thanks {

			.title {
				font-size: 16vw;
			}

			.subtitle {
				font-size: 5vw;
			}

			.copy {
				font-size: 14px;
			}
		}
	}
}