.footer {
	background-color: @azul-footer;
	text-align: center;
	padding: 20px 0 120px 0;
	position: absolute;
	.logo_loja {
		img {
			width: 170px;
			margin: 0 auto;
		}
	}
	.info_horario {
		margin-top: 30px;
		padding-left: 40px;
		.info_head {
			color: @branco;
			font-weight: bold;
			font-size: 20px;
			display: block;
			text-align: left;
		}
		.info_subhead {
			color: @branco;
			display: block;
			text-align: left;
			font-size: 14px;
		}
	}

	.info_endereco {
		margin-top: 30px;
		padding-left: 40px;
		.info_head {
			color: @branco;
			font-weight: bold;
			font-size: 20px;
			display: block;
			text-align: left;
		}
		.info_subhead {
			color: @branco;
			display: block;
			text-align: left;
			font-size: 14px;
		}
	}
	.info_contato {
		.contato_head {
			display: none;
		}
		.btn-phone {
			position: fixed;
			bottom: 60px;
			width: 90%;
			left: 5%;
			z-index: 1;
			img {
				margin-right: 40px;
			}
			a {
				justify-content: center;
			}
		}
	}

	.logo-footer {
		background: @branco;
		position: absolute;
		width: 100%;
		bottom: 0;
		padding: 5px 0;
		img {
			margin: 0 auto;
		}
	}
}

@media only screen and (min-width: @screen-sm-min) {
	.footer {
		.logo_loja {
			margin-bottom: 20px;
		}
		padding: 20px 0px 60px 0;
		height: auto;
		display: flex;
		align-items: center;
		justify-content: center;
		position: relative;
		.info_horario {
			margin: 0;
			padding: 0;
		}
		.info_endereco {
			margin: 0;
			padding: 0;
		}
		.info_contato {
			text-align: left;
			margin-left: -15px;
			text-align: center;
			.contato_head {
				
				color: @branco;
				font-weight: bold;
				font-size: 20px;
			}
			.btn-phone {
				position: relative;
				bottom: 0;
				left: 0;
				width: initial;
				margin-top: 20px;
				font-size: 18px;
				padding: 5px 50px;
				img {
					margin-right: 10px;
				}

			}
		}
	}
}

@media only screen and (min-width: @screen-md-min) {
	.footer {
		.info_contato {
			.btn-phone {
				padding: 5px 30px;
				font-size: 14px;
				img {
					width: 32px;
					height: 32px;
				}
			}
		}
	}
}

@media only screen and (min-width: @screen-lg-min) {
	.footer {
		.info_contato {
			.btn-phone {
				font-size: 18px;
				padding: 10px 30px;
			}
		}
	}
}

@media only screen and (min-width: @screen-xl-min) {
	.footer {
		.info_contato {
			.btn-phone {
				padding: 10px 60px;
			}
		}
	}
}